* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #020617;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
}